#C
*.o

#misc files
*.pdf
*~
*.out
stats
test
*.bin
src/*.bin

#sage
*.sage.py

#latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
!report/figures/*


#folders to ignore
literature/
description/
bin/
auto/

